##############################################################################
# BEGIN QB.gitingore
#
# Generated QB playbooks
.qb-playbook.yml

# Ansible-generated retry files for QB playbooks
.qb-playbook.retry

# Ansible error files that QB still sometimes generates
ansible-error.log
#
# END QB.gitingore
##############################################################################

##############################################################################
# BEGIN Global/macOS.gitingore
#
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
#
# END Global/macOS.gitingore
##############################################################################


# Project
# ============================================================================

# Stuff that came from Thor
# ----------------------------------------------------------------------------

!.gitignore
*.gem
*.rbc
*.sw[a-p]
*.tmproj
*.tmproject
*.un~
*~
.Spotlight-V100
.Trashes
._*
.bundle
.config
.directory
.elc
.emacs.desktop
.emacs.desktop.lock
.idea
.redcar
.rvmrc
.yardoc
Desktop.ini
Gemfile.lock
Icon?
InstalledFiles
Session.vim
\#*\#
_yardoc
auto-save-list
/coverage
/doc/
lib/bundler/man
/pkg
/pkg/*
/rdoc
/spec/reports
/spec/sandbox
/test/tmp
/test/version_tmp
/tmp
/tmtags
/tramp
.rbx
b/


# Atli Additions & Overrides
# ----------------------------------------------------------------------------

# We puts other markdown sources under `//doc` and build docs to `//doc/site`
# (using yard, see `//.yardopts`)
!/doc/
/doc/site/

